h3, h2 {
    margin: 0;
}

.mainContainer {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 60px 60px 30px 60px;

    background-image: url('../../../assets/images/LoginBackground.png');
    background-repeat: no-repeat;
    background-size: cover;

    overflow: auto;
}

@media (max-width: 500px) {
    .main {
        padding: 30px 15px 15px 15px;
    }
}

.post {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 1200px;
}

@media (min-width: 768px) and (max-width: 1200px){
    .post {
    }
}

.container {
    display: flex;
    flex-direction: column;
    gap: 28px;

    margin-top: 30px;
    padding: 10px 16px 42px 16px;
    background-color: #FFFFFF;

    border-radius: 8px;
}

.postContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
}


.postContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
}

.postIMage {
    height: auto;
    max-width: 100%;
    object-fit: contain;
}

.loader {
    border-radius: 8px;
    height: 50vh;
    margin-top: 0.83em;
}

.empty {
    color: #FFFFFF;
}

.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}


.footer {
    display: flex;
    align-items: center;
    align-self: flex-start;
    height: 35px;
    color: #aeaeae;
    gap: 14px;
    padding: 12.5px 0;
}

.commentsContainer {
    display: flex;
    justify-content: space-between;
    margin: auto 0px auto 5px;
}

.shareContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;

    cursor: pointer;
}

@media (min-width: 768px) {
    .postContainer {
        flex-direction: row;
    }

    .postIMage {
        max-width: 40%;
    }
}

.categoryTitle { 
    width: fit-content;
    padding: 5px 10px;
    border-radius: 20px;

    font-family: Gilroy sans-serif;
    font-weight: 500;
    color: black;

    background-color: white;
}

.addReviewContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    gap: 10px;
    padding: 5px 10px;
    border-radius: 20px;
    border: 2px solid transparent;
    background-color: #FF5C00;
    color: white;
    cursor: pointer;
    transition: border-color 0.3s box-shadow 0.3s;
}

.button:hover {
    border-color: #646cff;
    box-shadow: 0 0 10px 0 rgba(100, 108, 255, 0.3);
}

.reviewsContainer {
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-self: flex-end;
}

.mapContainer {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

@media (max-width: 768px) {
    .mapContainer {
        height: 200px;
        width: 100%;
    }
}

@media (max-width: 768px) {
    .title {
        font-size: 16px;
    }
    .categoryTitle {
        font-size: 16px;
    }
    .description {
        font-size: 16px;
    }
}

.reviewControl {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}