.footer {
    display: flex;
    align-items: center;
    height: 35px;
    color: #aeaeae;
    gap: 14px;
}

.shareContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;

    cursor: pointer;
}

.share {
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
}

.liked {
    color: #55BEF5;
}

.dislike {
    rotate: 180deg;
}

.disliked {
    color: #F00;
}
