.dropdown {
  position: relative;
  flex: 1;
  box-sizing: border-box;
  user-select: none;
  transition: 0.3s;
}

.dropdown:hover {
  border-color: #DEDED7;
}

.dropdownButton {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 100%;
  background-color: white;
  border: 1px solid #ccc;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  line-height: 46px;
  color: #1a1a1a;
  border: 1px solid;
  border-color: #DEDED7;
  border-radius: 24px;
  box-sizing: border-box;
  padding: 0;
  transition: 0.3s;
}

.firstOption {
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}

.lastOption {
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}

.dropdownContent {
  position: absolute;
  border-radius: 24px;
  top: 50px;
  background-color: #FEFEFE;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
  box-sizing: border-box;
}

.dropdownContent div:last-child {
  border: none;
}

.dropdownContentOpen {
  padding: 8px, 16px;
}

.dropdownContent div {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}

.dropdownContent div:hover {
  background-color: #f1f1f1;
}

.dropdown.show {
  display: block;
}

.people {
  width: 22px;
  height: 22px;
  align-self: center;
}

.dropdownArrowOpen {
  transition: 0.3s;
  transform: rotate(180deg);
}