.main {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.container {
  padding: 0 10px 0 40px;
  width: 50vw;
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
}

.title {
  margin: 50px 0 0 50px;
  font-size: 15px;
  font-weight: 500;
}

.mainSection {
  display: flex;
  flex-direction: column;
}

.leftSection {
  background-color: #dce8f5;
}

.authSection {
  display: flex;
  flex-direction: column;
  width: 50vw;
}

@media (max-width: 500px) {
  .container {
    margin-right: 130px;
  }

  .authSection {
    display: flex;
    flex-direction: column-reverse;
    width: 100vw;
  }

  .leftSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
