.title {
    margin: 0 0 20px 0;
}

.mainContainer {
    background-image: url('../../../assets/images/boat.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: fill;
}

@media (max-width: 768px) {
    .mainContainer {
        background-size: cover;
    }
}

@media (max-width: 500px) {
    .mainContainer {
        background-size: cover;
    }
}

.post {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.mainContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    overflow-y: auto;
}



.main {
    box-sizing: border-box;
    /* width: 1047px; */
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    /* padding: 30px; */
    gap: 20px;
    box-sizing: border-box;
    margin-left: 62px;
    margin-top: 59px;
    margin-bottom: 46px;

    

    /* overflow: scroll; */
}

.trip {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    gap: 28px;

    margin-top: 30px;
    padding: 10px 16px 42px 16px;
    background-color: #FFFFFF;

    border-radius: 8px;
}

@media (max-width: 1280px) {
    .main {
        /* margin-left: 27px; */
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 28px;
    }
    .container {
        width: 726px;
        margin: 0 auto;
    }
}

@media (max-width: 500px) {
    .main {
        margin: 59px 12px;
        margin-bottom: 57px;
    }
    .container {
        padding: 12px;
        width: 100%;
        margin: 0 auto;
    }
    .swiperContainer {
        margin: 0 auto;
    }
}

@media (min-width: 1280px) {
    .main {
        width: 1047px;
    }
}

.tripContainer {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.topContainer {
    display: flex;
    /* justify-content: flex-start; */
    /* align-items: flex-start; */
    align-items: center;
    gap: 20px;
}

@media (max-width: 768px) {
    /* .postContainer {
        flex-direction: row;
    } */

    .topContainer {
       flex-wrap: wrap;
    }
}

.topRightContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.rateContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.swiperContainer {
    align-self: flex-start;
    /* width: 100%; */
}

.postIMage {
    width: 400px;
    height: auto;
}

@media (max-width: 500px) {
    .postIMage {
        width: 300px;
    }

}

.postText {
    color: #262626;
    font-family: Gilroy, sans-serif;
    font-size: 17px;
    text-align: justify;
    font-weight: 500;
}
/* 
@media (max-width: 768px) {
    .postText {
        font-size: 12px;
    }
} */

@media (max-width: 500) {
    .postText {
        font-size: 15px;
    }
}

.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 14px;
}

@media (max-width: 768px) {
    .date {
        font-size: 12px;
    }
}

.date {
    font-size: 14px;
    color: #717171;
}

.dayDescription {
    font-size: 14px;
    color: #262626;
    font-family: Gilroy, sans-serif;
    font-weight: 500;
}

@media (max-width: 768px) {
    .dayDescription {
        font-size: 12px;
    }
}


.postActionsWrapper {
    align-items: flex-start;
}

.swiperContainer {
    height: max-content;
    display: flex;
    width: 400px;
    /* width: 40%; */
}

@media (max-width: 768px) {
    /* .postContainer {
        flex-direction: row;
    } */

    .swiperContainer {
        flex-grow: 1;
    }
}

@media (max-width: 500px) {
    .swiperContainer {
        width: 300px;
    }
}

.tagsContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow-y: hidden;
}

.tag {
    font-size: 10px;
    cursor: pointer;
    background-color:  rgb(218, 224, 225);
    padding: 2px;
    padding-left: 5px;
    border-radius: 10px;
    color: grey;
}

.visitedContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.commentContainer {
    box-sizing: border-box;
    margin-top: 10px;
    border-radius: 8px;
}




@media (max-width: 1280px) {
    .commentContainer {
        width: 726px;
        margin: 0 auto;
    }
}