:root {
  font-family: 'Gilroy-Regular', sans-serif;
  font-size: 16px;
}

.mainContainer {
  /* position: absolute; */
  background-color: #F8F7F1;
}

.title {
  font-size: 32px;
  font-weight: 500;
  color: #262626;
  font-family: 'Gilroy-Bold', sans-serif;
  line-height: 38.4px;
  align-self: center;
}

.selectedTagsContainer {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}

.commentsMap  {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.commentsMap > *:not(:last-child) {
  border-bottom: 1px solid #DEDED7;
}

.buttonCustom.selected {
  border-color: #a67c52;
  border: 2px solid #a67c52;
  background-color: #fff;
  color: #a67c52;
}

.mainContainer {
  width: 100%;
  height: 1500px;
}

.dateButtonsContainer {
  display: flex;
  gap: 10px;
  margin-bottom: 16px;
}

.dayContainer {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 24px;
}

.dayInfoContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.buttonCustom {
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 24px;
  min-width: 160px;
  background-color: white;
  cursor: pointer;
  font-size: 16px;
  color: #1a1a1a;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.post {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.timeContainer {
  margin-top: 8px;
  margin-bottom: 48px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainContainer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.headerTrip {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.followButton {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  line-height: 40px;
  font-size: 18px;
  font-weight: 500;

  color: #FFFFFF;
  border: 1px solid rgba(98, 144, 21, 0.6);
  background: rgba(98, 144, 21, 0.6);
  border-radius: 24px;

  min-width: 190px;
  width: 100%;
  transition: 0.3s;
}

.followButton:hover {
  background: rgba(98, 144, 21, 0.4);
}

.social {
  display: flex;
  gap: 20px;
  align-items: center;
}

.socialIcon {
  cursor: pointer;
}

.socialIconSave path {
  fill: red;
}

.main {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 50px;
}

.trip {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tagsContainer {
    display: flex;
    gap: 10px;
    align-items: center;
}

.places {
  display: flex;
  gap: 10px;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-self: center;
  max-width: 1440px;
  width: 100%;
  padding: 40px 40px 48px 40px;
  margin: 0, 40px, 69px;
  margin-top: 0;
  margin-bottom: 69px;
  border-radius: 96px;
  background-color: rgba(254, 254, 254, 0.7);
  backdrop-filter: blur(10px);
}

.containerComments {
  display: flex;
  flex-direction: column;
  align-self: center;
  max-width: 1440px;
  width: 100%;
  padding: 40px 40px 48px 40px;
  margin: 0, 40px, 69px;
  margin-top: 0;
  margin-bottom: 69px;
  border-radius: 96px;
  background-color: rgba(254, 254, 254, 0.7);
  backdrop-filter: blur(10px);
}

.commentsTitle {
  font-size: 24px;
  font-weight: 600;
  color: #1F1F20;
  font-family: 'Gilroy-Bold', sans-serif;
  line-height: 36px;
  align-self: center;
}

.tripContainer {
  width: 100%;
    display: flex;
    flex-direction: column;
}

.topContainer {
    display: flex;
    /* justify-content: flex-start; */
    /* align-items: flex-start; */
    align-items: center;
    gap: 20px;
}

@media (max-width: 768px) {
    /* .postContainer {
        flex-direction: row;
    } */

    .topContainer {
       flex-wrap: wrap;
    }
}

.tripOverview {
    text-wrap: nowrap;
    line-height: 36px;
    font-size: 24px;
    font-weight: 600;
    font-family: 'Gilroy-Bold', sans-serif;

    color: #1F1F20;
    margin-bottom: 8px;
}

.journey {
  text-wrap: nowrap;
  align-self: center;
}

.topRightContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 22px;
}

.rateContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.postIMage {
    width: 400px;
    height: auto;
}

@media (max-width: 500px) {
    .postIMage {
        width: 300px;
    }

}

.postText {
    color: #262626;
    font-family: Gilroy, sans-serif;
    font-size: 17px;
    text-align: justify;
    font-weight: 500;
}
/* 
@media (max-width: 768px) {
    .postText {
        font-size: 12px;
    }
} */

@media (max-width: 500) {
  .postText {
      font-size: 15px;
  }
}

.textContainer {
  width: 100%;
  align-items: center;
  margin-bottom: 16px;
}

.date {
  font-size: 14px;
  color: #717171;
}

.dayDescription {
  font-size: 14px;
  color: #262626;
  font-family: Gilroy, sans-serif;
  font-weight: 500;
}

@media (max-width: 768px) {
  .dayDescription {
      font-size: 12px;
  }
}

.dayDescriptionJournal {
  font-size: 18px;
  color: #262626;
  font-family: Gilroy, sans-serif;
  font-weight: 400;
  line-height: 27px;
}

.selectedTagsContainer {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  width: 80%;
}

.geotagTitle {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.geoTagContainer {
  display: flex;
  justify-content: center;
  background-color: #FEFEFE;
  border: 1px solid #DEDED7;
  border-radius: 24px;
  line-height: 48px;
  max-width: 350px;
  width: 100%;
  gap: 15px;
}

.postActionsWrapper {
  align-items: flex-start;
}

.tagsContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow-y: hidden;
}

.dateContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.hashtags {
  display: flex;
  gap: 24px;
  min-height: 50px;
  height: 100%;
}

.hashtagIcon {
  position: absolute;
  left: 26px;
  width: 22px;
  height: 22px;
  align-self: center;
  background-color: #FEFEFE;
}

.hashtagsContainer {
  margin-top: 16px;
  display: flex;
  align-items: center;
  min-width: 50px;
  border-radius: 24px;
  border: 1px solid #DEDED7;
  background-color: #FEFEFE;
  line-height: 48px;

  gap: 10px;
  padding-inline: 10px;
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.tag {
    font-size: 10px;
    cursor: pointer;
    background-color:  rgb(218, 224, 225);
    padding: 2px;
    padding-left: 5px;
    border-radius: 10px;
    color: grey;
}

.visitedContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.commentContainer {
    box-sizing: border-box;
    margin-top: 10px;
    border-radius: 8px;
}




@media (max-width: 1280px) {
    .commentContainer {
        width: 726px;
        margin: 0 auto;
    }
}

.suggestedTripContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;

  background-color: rgba(254, 254, 254, 0.7);
  border-radius: 96px;
  padding: 40px;
  margin-top: 40px;
}

.tripWrapper {
  display: flex;
}
