.container {
  display: flex;
  flex-direction: column;
  height: 125px;
  box-sizing: border-box;

  padding: 6px 10px;
  gap: 10px;
}

.userAndActions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.commentText {
  margin-left: 24px;
}

.container_reply {
    height: max-content;
}

.footer {
    display: flex;
    align-items: center;
    height: 35px;
    color: #aeaeae;
    gap: 14px;
}

.shareContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;

    cursor: pointer;
}

.share {
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
}

.liked {
    color: #55BEF5;
}

.dislike {
    rotate: 180deg;
}

.disliked {
    color: #F00;
}

.replies_container {
    width: 95%;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.replies_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.input {
    height: 36px;
    border-radius: 8px;
    background: #F6F6F6;
    color: #1a1a1a;
    outline: none;
    border: none;
    padding: 0 20px;
    resize: none;
    font-family: Gilroy, sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: normal;
    box-sizing: border-box;
    flex-grow: 1;
}

.button {
    width: max-content;
    padding: 10px;
    height: 100%;
    border-radius: 10px;
    background: #ff4d00;
    color: #fff;
    border: none;
    font-weight: 500;
    cursor: pointer;
}