.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dfdfdf;
  background-color: #F8F7F1;
  min-height: 40px;
}

.title {
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  height: auto;
  width: 120px;

  cursor: pointer;
}

@media (min-width: 768px) {
  .title {
    width: max-content;
  }
}

@media (max-width: 500px) {
  .title {
    width: 80px;
  }
}

.inputWrapper {
  position: relative;

  margin: auto;
  display: flex;
  width: 45vw;
  padding: 0 10px;
  height: 27px;
  border-radius: 45px;
  background-color: #ededed;
  border: none;

}

@media (max-width: 500px) {
  .inputWrapper {
    width: 100%;
  }
}

.switchContainer {
  display: flex;
  align-items: center;
  position: absolute;
  right: 5px;
  top: 3px;
}

.switchButton {
  background-color: rgba(183, 183, 183, 0.31);
  border-radius: 0;
}

.switchActive {
  background-color: rgba(183, 183, 183, 0.7);
}
.switchLeft {
  border-top-left-radius: 22px;
  border-bottom-left-radius: 22px;
}

.switchRight {
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
}

.input {
  background-color: transparent;
  vertical-align: auto;
  border: none;
  width: 100%;
}

.input:focus {
  outline: none;
}

/* .button {
  margin-right: 66px;
  width: 120px;
  height: 35px;
  font-weight: 400;
  font-size: 13px;
  background-color: #55bef5;
  border-radius: 45px;
  border: none;
  color: #fff;
  cursor: pointer;
} */

.search {
  margin: auto 5px auto 0;
  width: 11px;
  height: 11px;
}

.leftContainer {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 0 16px;
}

@media (min-width: 768px) {
  .leftContainer {
    gap: 5px;
    margin: 0 31px;
  }
}

@media (max-width: 500px) {
  .leftContainer {
    gap: 0;
    margin: 0;
  }
}

.rightContainer {
  display: flex;
  gap: 8px;
  align-items: center;
}

.icons {
  position: relative;
  display: flex;
  align-items: center;

  justify-content: space-between;
}

.icon_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 26px;
  padding: 1px 6px;
  border: 1px solid transparent;
}

.icon_container:hover {
  background-color: #f0f0f0;
  border: 1px solid #646cff;
  border-radius: 8px;
} 

.icon {
  cursor: pointer;
 
  /* display: none; */
  height: 24px;
  width: 24px;
}

@media (min-width: 768px) {
  .icon {
    display: block;
    height: 20px;
    width: 20px;
  }
}

.name {
  margin: auto 0;
  font-size: 15px;
}

@media (max-width: 500px) {
  .name {
    display: none;
  }
}

.avatar {
  cursor: pointer;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.arrow {
  margin: auto 7px auto 7px;
  cursor: pointer;
}

@media (max-width: 500px) {
  .button {
    margin: 0 0 0 10px;
    width: 60px;
  }
}

.DropdownMenuContent,
.DropdownMenuSubContent {
  display: flex;
  gap: 14px;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  padding: 14px 5px 12px 10px;
  box-shadow: 0 10px 38px -10px rgba(22, 23, 24, 0.35), 0 10px 20px -15px rgba(22, 23, 24, 0.2);
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;

  margin-right: 10px;
}
.DropdownMenuContent[data-side='top'],
.DropdownMenuSubContent[data-side='top'] {
  animation-name: slideDownAndFade;
}
.DropdownMenuContent[data-side='right'],
.DropdownMenuSubContent[data-side='right'] {
  animation-name: slideLeftAndFade;
}
.DropdownMenuContent[data-side='bottom'],
.DropdownMenuSubContent[data-side='bottom'] {
  animation-name: slideUpAndFade;
}
.DropdownMenuContent[data-side='left'],
.DropdownMenuSubContent[data-side='left'] {
  animation-name: slideRightAndFade;
}

.DropdownMenuItem {
  font-size: 13px;
  line-height: 1;
  border-radius: 3px;
  display: flex;
  align-items: center;
  height: 25px;
  position: relative;
  user-select: none;
  outline: none;

  cursor: pointer;
}


.DropdownMenuSeparator {
  height: 1px;
  background-color: #E8E8E8;
  margin-left: -10px;
  margin-right: -5px;
}

.autocomplete_photo {
  width: 80px;
  height: 80px;
  border-radius: 20px;
}

.autocompleteLeftBox {
  display: flex;
  align-items: center;
  gap: 10px;
}

.tripDescription {
  color: #717171;
  flex-grow: 1;
}

.IconButton {
  border: none;
  font-family: inherit;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;

  cursor: pointer;
}

.RightSlot {
  margin-left: auto;
  padding-left: 26px;
}
[data-highlighted] > .RightSlot {
  color: white;
}

@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightAndFade {
  from {
    opacity: 0;
    transform: translateX(-2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  from {
    opacity: 0;
    transform: translateX(2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.autocompleteOption {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 20px; */
  background-color: rgba(218, 224, 225, 0.518);
  border-radius: 20px;
  padding: 5px;
  cursor: pointer;
}


.searchResultsContainer {
  box-sizing: border-box;
  left: -20px;
  top: 10px;
  position: relative;
  z-index: 9999;
  width: calc(100% + 10px);
  display: flex;
  flex-direction: column;
  gap: 10px;

  padding: 10px;

  background-color: #FFF;
  border-bottom: 20px;
}

@media (max-width: 768px) {
  .searchResultsContainer {
    box-sizing: border-box;
    position: fixed;
    padding: 5px 20px;
    left: 0;
    top: 64px;
    width: 100%;
  }
}

@media (max-width: 500px) {

  .searchResultsContainer {
    top: 40px;
    padding: 5px 10px;
  }
  .autocomplete_description_container {
    display: flex;
    flex-direction: column;
  }

  .autocomplete_description {
    font-size: 12px;
  }
}

em {
  font-weight: 800;
}

.notifications_counter {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: #f00;
  color: #fff;
  border-radius: 50%;
  padding: 2px 5px;
  font-size: 10px;
}

.animation {
  animation: fadeIn 0.5s;
  width: 50px;
  align-self: center;
}

@media (max-width: 500px) {
  .hideOnMobile {
    display: none;
  }
  .hideOnMobileInFocus {
    display: none;
  }
}