.footerContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 80px 80px 0 80px;
  background-color: #F8F7F1;
  border-top: 1px solid rgba(162, 126, 101, 0.3);
}


.mainLogoFooter {
  width: 150px;
  height: 70px;
  margin-inline: 60px;
}

.footerLogo {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 56px;
  border-bottom: 0.5px solid rgba(162, 126, 101, 0.3);
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .footerLogo {
      flex-direction: column;
      gap: 20px;
  }
}

.footerTitle {
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  align-self: center;
}

.socialLogo {
  display: flex;
  gap: 36px;
  align-items: center;
}

.secondarySocial {
  display: flex;
  justify-content: space-around;
}

.socialLogo img {
  width: 40px;
  height: 40px;
}

.rights {
display: flex;
justify-content: flex-start;
width: 100%;
padding-bottom: 80px;
}

.rights p {
  color: #46464D;
  font-size: 18px;
  line-height: 27px;
}