.container {
    display: flex;
    align-items: flex-start;
    gap: 5px;
    box-sizing: border-box;

    padding: 10px 16px;
    min-height: 140px;
    max-height: max-content;

    background-color: white;
    border-radius: 8px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.avatar {
    width: 48px;
    height: 48px;
    border-radius: 30px;
    transition: box-shadow 0.3s;
}

.avatar:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.rate {
    align-self: center;
}
.leftContainer {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

@media (min-width: 1200px) {
    .leftContainer {
        height: 140px;
    }
}

.secondContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.imagesContainer {
    display: flex;
    gap: 10px;
}

.image {
    width: 100px;
    height: 50px;
}

.rightContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-self:flex-end;
    width: 100%;
}

.upperRightContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lowerRightContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.dateContainer {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.descriptionContainer {
    width: 500px;
}

.description {
    font-size: 14px;
}

.seeMoreButton {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 2px 5px;
    font-size: 14px;
    line-height: 12px;
}

.avatarContainer {
    display: flex;
    gap: 10px;
}

.activeOnMobile {
    display: none;
}
@media (max-width: 1200px) {
    .container {
        width: 100%;
        flex-direction: column;
        gap: 5px;
    }
    .leftContainer {
        width: 100%;
        flex-direction: column;
    }
    .rightContainer {
        max-width: 100%;
    }
    .secondContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .description {
        display: inline-block;
        width: 100%;
        max-width: 100%;
    }
    .descriptionContainer {
        width: 100%;
    }
    .upperRightContainer {
        display: flex;
        flex-direction: column;
        gap: 10px;  
    }
    .lowerRightContainer {
        flex-direction: column;
    }
    .reviewInfoContainer {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        width: 100%;
    }
    .activeOnMobile {
        display: block;
    }
    .inActiveOnMobile {
        display: none;
    }
}

@media (max-width: 500px) {
    .container {
        width: 100%;
        flex-direction: column;
        gap: 5px;
    }
    .leftContainer {
        width: 100%;
        flex-direction: column;
    }
    .rightContainer {
        max-width: 100%;
        width: 100%;
    }
    .secondContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .description {
        display: inline-block;
        width: 100%;
        flex-grow: 1;
    }
    .descriptionContainer {
        width: 100%;
    }
    .lowerRightContainer {
        flex-direction: column;
    }
    .reviewInfoContainer {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        width: 100%;
    }
    .activeOnMobile {
        display: block;
    }
    .inActiveOnMobile {
        display: none;
    }
}

.lastImage {
    filter: brightness(0.4) 
}
.lastImageIndicator {
    position: absolute;
    top: 20%;
    left: 30%;
    color: white;
    font-weight: bold;
    padding: 2px 8px;
    background-color: rgba(255, 255, 255, 0.468);
    border-radius: 12px;
}